h1 {color: red;font-size: 4em;background-color: aliceblue;border-style: dotted; }
h2 {color: red;font-size: 3em;background-color: antiquewhite; border-style: solid;}
h3 {color: red;font-size: 2em;background-color: azure; border-style: groove;}
